<div class="page-header">
	<h1>Drone Watch & Rescue</h1>
</div>
		<!--
<p class="lead">
	Drone Watch And Rescue is an online set of applications to create and simulate multi-UAV missions.
	The funcionality of this application is divided in three main tools:
	<ul>
		<li>
			<a ui-sref="missionInformation">Mission Input</a>:
			Information of the mission inputs and mission plans
		</li>
		<li>
			<a ui-sref="scenaryScheduler">Scenary Scheduler</a>: 
			Used by a trainer to define both the mission incidents plan and the interactions
			that should be done by the mission monitorer during the execution of a mission.
		</li>
		<li>
			<a ui-sref="missionSimulator">Mission Simulator</a>:
			Execute the missions created in the previous tools. Check the 
			<a href="/docs/userManual/DWR-Missionsimulator-UserManual.pdf">user manual</a> to get accurate
			information of all the possible interactions. 
		</li>
	</ul>
</p>

-->

		<p class="lead">
			Drone Watch And Rescue is an online set of applications to create and simulate multi-UAV missions.
			<ul>
				<li>
					Go to <a ui-sref="missionSimulator">Mission Simulator</a> to simulate some test missions.
					Check the
					<a href="/docs/userManual/DWR-Missionsimulator-UserManual.pdf">user manual</a> to get accurate
					information of all the possible interactions.
				</li>
			</ul>
		</p>